@page "/"
@inject IApplicationInsights AppInsights

<button class="btn btn-primary" @onclick="TrackEvent">Track Event</button>
<button class="btn btn-secondary" @onclick="TrackMetric">Track Metric</button>

@code {
	private async Task TrackEvent()
	{
		await AppInsights.TrackEvent("My Event");
	}

	private async Task TrackMetric()
	{
		await AppInsights.TrackMetric("myMetric", 100, 200, 1, 200, new Dictionary<string,object> {{"customProperty", "customValue"}});
		await AppInsights.Flush();
	}
}